#*
    Copyright 2011 Leonid Maslov<leonidms@gmail.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*#

$webResourceManager.requireResource("com.blogspot.leonardinius.rest-cli-runner:cli-js-css")

<table class="jiraform  maxWidth">
    <tr>
        <td class="jiraformheader">
            <h3 class="formtitle">CLI session $!sessionId</h3></td>
    </tr>
    <tr>
        <td class="jiraformbody">
            <div>
                <a href="${requestContext.baseUrl}/secure/admin/restCli!list.jspa?atl_token=${atl_token}">back to session list</a>
                &nbsp;
                <u><a href="#" onclick="javascript: window.location.reload(true); return false;">refresh</a></u>

                #if($liveCliSession)
                    <table class="grid centered maxWidth">
                        <tr>
                            <td>
                                <div id="cli-holder"></div>
                            </td>
                        </tr>
                    </table>
                #else
                    <h3 syle="color:red">Could not locate session</h3>
                #end

            </div>
        </td>
    </tr>
</table>

#if($liveCliSession)
<script type="text/javascript">
    (function(jq)
    {
        jq(document).ready(function()
        {
            com.blogspot.leonardinius.restcli.executor({
                ajaxUrl    : function() { return AJS.format("{0}/rest/rest-scripting/1.0/sessions/{1}", "${requestContext.baseUrl}", "$sessionId");},
                container  : jq('#cli-holder'),
                welcomeMessage
                        : '${liveCliSession.language}:${liveCliSession.version}.'
                        + ' --/-- Press Ctrl-Enter/^-Enter to evaluate.'
            });
        });
    })(jQuery);
</script>
#end
