$webResourceManager.requireResource("com.blogspot.leonardinius.jira-rest-cli-runner:cli-js-css")
<b>Please specify scripting language:</b>
<select id="cli-language">
 #foreach($lng in $action.registeredLanguages)
  <option value="$action.htmlEncode($lng.name.toLowerCase())">$action.htmlEncode($lng.name) - $action.htmlEncode($lng.version)</option>
 #end
</select>
<br/>
<br/>



