$webResourceManager.requireResource("com.blogspot.leonardinius.jira-rest-cli-runner:cli-js-css")

<table class="jiraform  maxWidth">
<tr>
    <td class="jiraformheader">
    <h3 class="formtitle">Console session</h3></td>
</tr>
<tr>
    <td class="jiraformbody">
    <div>
    <br/>

    #if($liveCliSession)
    <table class="grid centered maxWidth">
    <tr><td>
        <div id="cli-holder"></div>
    </td></tr>
    </table>
    #else
        <h3 syle="color:red">Could not locate session $sessionId</h3>
    #end

    </div>
    </td>
</tr>
</table>

#if($liveCliSession)
<script type="text/javascript">
(function(jq){
    jq(document).ready(function(){
        com.blogspot.leonardinius.restcli.executor({
            ajaxUrl    : function(){ return AJS.format("{0}/rest/rest-scripting/1.0/sessions/{1}", "${requestContext.baseUrl}", "$sessionId") ;},
            container  : jq('#cli-holder'),
            welcomeMessage
                       : 'JIRA REST-${liveCliSession.language}:${liveCliSession.version} interactive console.'
                        + ' --/-- Press Ctrl-Enter/^-Enter to evaluate.'
        });
    });
})(jQuery);
</script>
#end
