<script>
  window.restCliBaseUrl = "${requestContext.baseUrl}";
</script>
$webResourceManager.requireResource("com.blogspot.leonardinius.jira-rest-cli-runner:cli-js-css")
<b>Please specify scripting language:</b>
<select id="cli-language">
 #foreach($lng in $action.registeredLanguages)
  <option value="$action.htmlEncode($lng.name.toLowerCase())">$action.htmlEncode($lng.name) - $action.htmlEncode($lng.version)</option>
 #end
</select>
<br/>
<br/>

<table width="99%"><tr><td>
<div id="cli-holder"></div>
</td></tr></table>



<select id="sessiondata">
 #foreach($session in $action.liveSessions.entrySet())
 $session
  <option value="$action.htmlEncode($session.key)">$action.htmlEncode($session.value.name) - $action.htmlEncode($session.value.version)</option>
 #end
</select>
<br/>
<br/>